<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><i class="fa fa-terminal"></i></a>
    <button class="navbar-toggler" type="button" (click)="toggleCollapse()" [ngClass]="{'collapsed': isCollapsed}">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': !isCollapsed}" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="about-me" (click)="collapse()">About Me</a>
          <a class="nav-link" routerLink="some-gists" (click)="collapse()">Some Gists</a>
        </li>
      </ul>
    </div>
  </nav>