/* You can add global styles to this file, and also import other style files */

@import "./variables";
@import "./mixins";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";
.img-about-me {
  height: auto;
  max-width: 60%;
}

@media (min-width: 576px) {
  .img-about-me {
    max-width: 576*0.6px;
  }
}
